body {
  background: #121212;
  font-family: "Roboto", sans-serif;
  color: #e0e0e0;
}

.MuiContainer-root {
  margin-top: 50px;
}

.MuiTypography-h4 {
  color: #bb86fc;
}

.MuiPaper-root {
  background: #1e1e1e;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.MuiListItem-root {
  border-bottom: 1px solid #2e2e2e;
}

.MuiCheckbox-root {
  color: #bb86fc;
}

.MuiIconButton-root {
  color: #bb86fc;
}

.MuiDialog-paper {
  background: #1e1e1e;
  color: #e0e0e0;
  padding: 20px;
}
